.gravity-code-editor{border-radius:6px;overflow:hidden}.gravity-page-console .editor-panel[data-v-f3e309f6]{display:flex;flex-direction:column;gap:20px}.gravity-page-console .log-tab .error[data-v-f3e309f6]{color:red}
